/* Font imports */
@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('☺'), url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('☺'), url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('☺'),
		url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('☺'), url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local('☺'),
		url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'BasementGrotesque-Black';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local('☺'),
		url('../assets/fonts/BasementGrotesque-Black_v1.202.otf') format('otf'),
		url('../assets/fonts/BasementGrotesque-Black_v1.202.woff') format('woff'),
		url('../assets/fonts/BasementGrotesque-Black_v1.202.woff2') format('woff2');
}
