@charset "UTF-8";
/* Root */
:root {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	/* Variables */
	/* fonts */
	--body-font: 'Poppins', sans-serif;
	--heading-font: 'BasementGrotesque-Black';
	/* font sizes */
	--fs-xl: 3.5rem;
	--fs-900: 2.5rem;
	--fs-800: 2rem;
	--fs-700: 1.75rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	/* colors */
	--black: #000000;
	--dark-bg: #242424;
	--aquamarine: #99ffd8;
	--medium-sea-green: #08b57b;
	--gray-web: #7c7d7e;
	--lavender-gray: #cbcbd2;
	--white: #ffffff;
	/* transition speed */
	--transition-speed: 600ms;
	/* border radius */
	--br-10: 10px;
	/* content space */
	--content-space: 5rem;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
body {
	width: 100%;
	height: 100vh;
	background-color: rgb(38, 38, 38);
	background-image: url('../src/assets/images/hexabump_@2X.png');
	background-repeat: repeat;
	background-size: 100% cover;
	overflow-x: hidden;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}
/* Default Link Styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
/* Links */
a {
	text-decoration: none;
	cursor: pointer;
}
/* Transparent image selection */
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}
/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* Scroll Bars */
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--aquamarine) var(--gray-web);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	position: relative;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: var(--gray-web);
	border-radius: 60px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--aquamarine);
	border-radius: 60px;
	border: 3px solid var(--medium-sea-green);
}
section {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	scroll-snap-align: start;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
}
/* Heading Gradients */
.text__gradient {
	background: -webkit-linear-gradient(#99ffd8, #ffffff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 0;
}
.text__gradient__2 {
	background: -webkit-linear-gradient(#ffffff, #08b57b);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 0;
}
/* Poppins Class */
.poppins {
	font-family: var(--body-font);
}
/* Basement Grotesque Class */
.grotesque {
	font-family: var(--heading-font);
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
	.about__img__order {
		order: 2;
	}
}
/* MAX-Width: 768px */
@media only screen and (max-width: 768px) {
	.content__margin {
		margin-bottom: 5rem;
	}
	.content__margin__up {
		margin-top: -5rem;
	}
	.hero__img,
	.about__img {
		max-width: 80%;
		height: auto;
	}
}
/* MAX-Width: 600px */
@media only screen and (max-width: 600px) {
	.hero__img,
	.about__img {
		max-width: 70%;
	}
}
/* MAX-Width: 375px */
@media only screen and (max-width: 375px) {
	.hero__img {
		max-width: 50%;
	}
	.about__img {
		max-width: 65%;
	}
}
/* MIN-Width: 769px */
@media only screen and (min-width: 769px) {
	.content__margin {
		margin-left: 5rem;
	}
	.content__margin__up {
		margin-top: -2rem;
	}
}
